{% extends "default.html" %}
{% load i18n %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<h2>{% trans "Сброс пароля" %}</h2>
<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <p>{% trans "Введите адрес электронной почты для сброса пароля:" %}</p>
    <input type="email" name="email" required>
    <button type="submit">{% trans "Отправить ссылку для сброса пароля" %}</button>
</form>
<p>{% trans "Уже помните пароль?" %} <a href="{% url 'account_login' %}">{% trans "Войти" %}</a></p>
{% endblock %}