{% extends "default.html" %}
{% load i18n %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
<h2>{% trans "Изменение пароля" %}</h2>
<form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <div>
        <label for="id_old_password">{% trans "Старый пароль:" %}</label>
        <input type="password" name="old_password" required>
    </div>
    <div>
        <label for="id_new_password1">{% trans "Новый пароль:" %}</label>
        <input type="password" name="new_password1" required>
    </div>
    <div>
        <label for="id_new_password2">{% trans "Повторите новый пароль:" %}</label>
        <input type="password" name="new_password2" required>
    </div>
    <button type="submit">{% trans "Изменить пароль" %}</button>
</form>
{% endblock %}