<html lang="ru">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{% static 'styles.css' %}">  <!-- Подключение стилей -->
    <title>{% block title %}Мой сайт{% endblock %}</title>
</head>
<body>
    {% load cache %}
        {% cache 30 header %}
        <header>
            <h1>Мой веб-сайт</h1>
            <nav>
                <ul style="list-style: none; display: flex; justify-content: flex-end; padding: 0; margin: 0;">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'account_logout' %}">Выход</a></li>
                    {% else %}
                        <li><a href="{% url 'account_login' %}">Вход</a></li>
                        <li><a href="{% url 'account_signup' %}">Регистрация</a></li>
                    {% endif %}
                    <li><a href="{% url 'news:post_list' %}">Главная страница</a></li>
                </ul>
            </nav>
        </header>
    {% endcache %}
    
    <main>
        {% block content %}
                <!-- Содержимое страницы будет отображаться здесь -->
        {% endblock %}
    </main>

    <footer>
        <q>© {{ year }} Мой веб-сайт</q>
    </footer>
</body>
</html>