<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'news/css/styles.css' %}">  <!-- Подключение стилей -->
</head>
<body>
    <header>
        <h1>Мой веб-сайт</h1>
        <nav>
            <ul>
                <li><a href="{% url 'news:login' %}">Вход</a></li>
                <li><a href="{% url 'news:register' %}">Регистрация</a></li>
                {% block nav_links %}
                <li><a href="{% url 'news:post_list' %}">Главная страница</a></li>
                 {% endblock %}
            </ul>
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© {{ year }} Мой веб-сайт</p>
    </footer>
</body>
</html>